---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill's projects.">
    <link rel="canonical" href="https://manmeetgill.com/projects">
    <link rel="amphtml" href="https://manmeetgill.com/amp/projects">
    <title>Manmeet Gill</title>
    {% include css-dependencies.html %}
    {% include style.html %}
    {% include header-favicons.html %}
</head>

<body>
    {% include tag-manager.html %}
    <div class="container">
    {% include navigation.html %}
        <section class="section">
            <div class="container">
                <div class="heading">
                    <h3 class="title is-3"><a href="pyhddkeepalive">PyHDDKeepAlive</a></h3>
                </div>
                <p>A program (written in python 3) that will write a small piece of data to a chosen disk every minute or so to prevent it from spinning down.
                    This has been found to extend the longevity of a hard drive.
                </p>
            </div>
        </section>
    </div>
    {% include footer.html %}
    {% include rich-card-manmeet.html %}
</body>