---
layout: null
---
<!doctype html>
<html ⚡ lang="en">

<head>
    <meta charset="utf-8">
    <link rel="canonical" href="https://manmeetgill.com/other/">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    {% include ampcss.html %}
    <title>Manmeet Gill's miscellaneous findings</title>
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill's blog.">
</head>

<body>
    <main class="content" role="main">
        <div class="atext">
            <h1>Manmeet Gill</h1><br>
            <section class="poweredby link-custom-css">
                <h3 class="title is-3"><a href="/other/pokemongo/">Pokemon Go</a></h3>
                <p>Some datamining around Pokemon Go at launch.</p><br>
            </section>
        </div>
        {% include amp-footer.html %}
    </main>
</body>
{% include amp-analytics.html %}
{% include rich-card-manmeet.html %}
    <!--https://github.com/ageitgey/amplify Made with amplify-->
</html>