---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill's miscellaneous findings.">
    <link rel="canonical" href="https://manmeetgill.com/other">
    <title>Manmeet Gill</title>
    {% include css-dependencies.html %}
    {% include style.html %}
    {% include header-favicons.html %}
</head>

<body>
    {% include tag-manager.html %}
    <div class="container">
    {% include navigation.html %}
        <section class="section">
            <div class="container">
                <div class="heading">
                    <h3 class="title is-3"><a href="pokemongo">Pokemon Go</a></h3>
                </div>
                <p>Some datamining around Pokemon Go at launch.</p>
            </div>
        </section>
    </div>
    {% include footer.html %}
    {% include rich-card-manmeet.html %}
</body>