### Sets default
* text=auto

### Sets text files
## Git files
.gitignore text
.gitattributes text
# GitHub Pages
CNAME text
## Hypertext Markup Language
*.html text
*.htm text
## Javascript
*.js text
# Typescript
*.ts text
# CoffeeScript
*.coffee text
## Cascading Style Sheets
*.css text
# Sassy CSS
*.scss text
*.sass text
# Less
*.less text
## JSON
*.json text
## Markdown
*.md text
## XML
*.xml text
## YAML
*.yml text
## Ruby
*.rb text
Gemfile text
## Text Editor Configs
# Global
.editorconfig text
# Sublime
*.sublime-project text
## Continuous Integration
# CodeClimate
.csslintrc text eol=lf
.eslintignore text eol=lf
.eslintrc text eol=lf
# Travis
travis text eol=lf
.travis.yml eol lf
## Dependency bits
# mdl-lite
*.template text
.jshintrc text
.jscsrc text



### Sets binaries
## Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
# Yes, I am well aware that svg is not a binary. For the purposes of git, it is though. This is because merging a svg is damn near impossible.
*.svg binary
## Archives
## One-Line text files
*.min.css* binary
*.min.js* binary

### Sets files that should be diffed as plain text
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain
