---
permalink: /404.html
layout: null
sitemap: false
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill, also known as Manu, is a student in Sydney, Australia.">
    <title>Manmeet Gill</title>
    <script src="/mdl/material.min.js"></script>
    <link rel="stylesheet" href="/mdl/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% include style.html %}
    {% include header-favicons.html %}
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include tag-manager.html %}
    {% include navigation.html %}
    <main class="mdl-layout__content mdl-grid page-content">
        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--middle mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">404</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Sorry, I couldn't find the page you wanted.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/">
                    Go to homepage
                </a>
            </div>
        </div>
        {% include footer.html %}
    </main>
    </div>
    {% include rich-card-manmeet.html %}
</body>

</html>