---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Hannah Ivy">
    <meta name="description" content="Hannah Ivy, also known as Manu, is a student in Sydney, Australia.">
    <link rel="amphtml" href="https://hannahi.com/amp/">
    <link rel="canonical" href="https://hannahi.com/">
    <title>404</title>
    {% include css-dependencies.html %}
    {% include style.html %}
    {% include header-favicons.html %}
</head>

<body>
    {% include tag-manager.html %}
    <section class="hero is-fullheight is-primary is-bold">
        <div class="hero-head">
            {% include navigation.html %}
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    404
                </h1>
                <h2 class="subtitle">
                    Page not found. It might have moved somewhere. Check the other sections of my website, it may have just moved.
                </h2>
            </div>
        </div>
        </section>
    {% include footer.html %}
    {% include rich-card-hannah.html %}
</body>