---
permalink: /404.html
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill, also known as Manu, is a student in Sydney, Australia.">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#3f51b5">
    <meta name="theme-color" content="#00aba9">
    <meta name="google-site-verification" content="O8UurrqoGrr0nzTlyXb9zAC9Hf5TjMqn6-xv4Vw4Yfo" />
    <link rel="amphtml" href="https://manmeetgill.com/amp/">
    <title>Manmeet Gill</title>
    <script src="node_modules/material-design-lite/material.js"></script>
    <link rel="stylesheet" href="node_modules/material-design-lite/material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style type="text/css">
    {% include style.css %}
    </style>
</head>

<body>
    {% include tag-manager.html %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout__title">Manmeet Gill</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="PokemonGo.html">Pokemon Go</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout__title">Manmeet Gill</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Home</a>
                <a class="mdl-navigation__link" href="PokemonGo.html">Pokemon Go</a>
            </nav>
        </div>
    </div>
    <main class="mdl-layout__content mdl-grid page-content">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--middle mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">404</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Sorry, I couldn't find the page you wanted.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/">
                    Go to homepage
                </a>
            </div>
        </div>
        {% include footer.html %}
    </main>
    {% include rich-card-manmeet.html %}
</body>

</html>