footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 50px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index:9999
}

footer img {
  opacity: 0.75
}

footer img:hover {
  opacity: 1.0
}

footer a {
  text-decoration: none
}

.navbar-right {
    float: right;
    justify-content: flex-end
}

.navbar-left {
    float: left;
    flex-grow: 1;
    justify-content: flex-start
}