footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 50px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index:9999
}

footer img {
  opacity: 0.75
}

footer img:hover {
  opacity: 1.0
}

footer a {
  text-decoration: none
}

.navbar-right {
    float: right;
    justify-content: flex-end
}

.navbar-left {
    float: left;
    flex-grow: 1;
    justify-content: flex-start
}
.sn {
  display: none;
}
.bg-0 {
  background-color: #f3f3f3;
}
.bg-1 {
  background-color: #fff1b0;
}
.bg-2 {
  background-color: #eaffab;
}
.bg-3 {
  background-color: #abffca;
}
.bg-4 {
  background-color: #abffff;
}
.bg-5 {
  background-color: #abc3ff;
}
.bg-6 {
  background-color: #cbafff;
}
.bg-7 {
  background-color: #fa5765;
}
.bg-8 {
  background-color: #d4d4d4;
}
.bg-9 {
  background-color: #ababab;
}
