---
redirect_from: 
  - "/m/"
  - "/m"
layout: null
---
<!doctype html>
<html ⚡ lang="en">

<head>
    <meta charset="utf-8">
    <link rel="canonical" href="https://manmeetgill.com/">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    {% include ampcss.html %}
    <title>Manmeet Gill</title>
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill, also known as Manu, is a student in Sydney, Australia.">
</head>

<body>
    <div class="body">
        <div class="atext">
            <h1>Manmeet Gill</h1> I am a student in Sydney, Australia.<br>Some people refer to me as Manu.<br><br>
            <a class="link" href="/PokemonGo/">Pokemon Go Resources</a>
            <a class="link" href="/PyHDDKeepAlive/">Pokemon Go Resources</a>
        </div>
        <div class="contact">
            <a href="mailto:contact@manmeetgill.com">
                <amp-img src="/assets/envelope-o.svg" width="32" height="32" layout="fixed" alt="Email"></amp-img>
            </a>
            <a href="https://github.com/tf2manu994">
                <amp-img src="/assets/github.svg" width="32" height="32" layout="fixed" alt="GitHub"></amp-img>
            </a>
            <a href="https://plus.google.com/+ManuGill994">
                <amp-img src="/assets/google-plus.svg" width="32" height="32" layout="fixed" alt="Google Plus"></amp-img>
            </a>
            <a href="https://twitter.com/tf2manu994">
                <amp-img src="/assets/twitter.svg" width="32" height="32" layout="fixed" alt="Twitter"></amp-img>
            </a>
            <a href="skype:tf2manu994">
                <amp-img src="/assets/skype.svg" width="32" height="32" layout="fixed" alt="Skype"></amp-img>
            </a>
            <a href="https://steamcommunity.com/id/tf2manu994">
                <amp-img src="/assets/steam.svg" width="32" height="32" layout="fixed" alt="Steam"></amp-img>
            </a>
        </div>
    </div>
</body>
{% include amp-analytics.html %}
{% include rich-card-manmeet.html %}

</html>