---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill's live updating Pokemon Go status page!">
    <title>Pokemon Go API Status</title>
    <link rel="canonical" href="https://manmeetgill.com/PokemonGo/Updates/">
    <script src="/mdl/material.min.js"></script>
    <link rel="stylesheet" href="/mdl/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% include style.html %}
    {% include header-favicons.html %}
</head>

<body>
    {% include tag-manager.html %}
    {% include navigation.html %}
    <main class="mdl-layout__content mdl-grid page-content">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--middle mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">API Status</h2>
            </div>
            <div>
                    <h4>Not Working</h4>
                <div class="pgo_resource_text">
                    <h5>The Pokemon Go API is currently not working.<br>ETA: 15 minutes before release of Half-Life 3 (GMT + 10)</h5>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </main>
    {% include rich-card-manmeet.html %}
    {% include rich-card-pokemongo.html %}
</body>

</html>