<!--
    <div class="footer">
    <a href="mailto:contact@manmeetgill.com">
        <amp-img src="/assets/envelope-o.svg" width="32" height="32" layout="fixed" alt="Email"></amp-img>
    </a>
    <a href="https://github.com/tf2manu994">
        <amp-img src="/assets/github.svg" width="32" height="32" layout="fixed" alt="GitHub"></amp-img>
    </a>
    <a href="https://gitlab.com/tf2manu994">
        <amp-img src="/assets/gitlab.svg" width="32" height="32" layout="fixed" alt="GitLab"></amp-img>
    </a>
    <a href="https://plus.google.com/+ManuGill994">
        <amp-img src="/assets/google-plus.svg" width="32" height="32" layout="fixed" alt="Google Plus"></amp-img>
    </a>
    <a href="https://twitter.com/tf2manu994">
        <amp-img src="/assets/twitter.svg" width="32" height="32" layout="fixed" alt="Twitter"></amp-img>
    </a>
    <a href="https://steamcommunity.com/id/tf2manu994">
        <amp-img src="/assets/steam.svg" width="32" height="32" layout="fixed" alt="Steam"></amp-img>
    </a>
    <a href="https://news.ycombinator.com/user?id=tf2manu994">
        <amp-img src="/assets/hacker-news.svg" width="32" height="32" layout="fixed" alt="Hacker News"></amp-img>
    </a>
    <a href="https://stackoverflow.com/users/5284221/manmeet-gill">
        <amp-img src="/assets/stack-overflow.svg" width="32" height="32" layout="fixed" alt="StackOverflow"></amp-img>
    </a>
    <a href="https://reddit.com/user/tf2manu994">
        <amp-img src="/assets/reddit.svg" width="32" height="32" layout="fixed" alt="Reddit"></amp-img>
    </a>
    <a href="skype:tf2manu994">
        <amp-img src="/assets/skype.svg" width="32" height="32" layout="fixed" alt="Skype"></amp-img>
    </a>
    <a href="https://linkedin.com/id/manmeet-gill">
        <amp-img src="/assets/linked-in.svg" width="32" height="32" layout="fixed" alt="Linkedin"></amp-img>
    </a>
    </div>
-->