<div class="footer">
    <a href="mailto:contact@manmeetgill.com"><img src="/assets/envelope-o.svg" alt="Email" class="Email" height="32" width="32"></a>
    <a href="https://github.com/tf2manu994"><img src="/assets/github.svg" alt="GitHub" class="GitHub" height="32" width="32"></a>
    <a href="https://plus.google.com/+ManuGill994"><img src="/assets/google-plus.svg" alt="Google Plus" class="GooglePlus" height="32" width="32"></a>
    <a href="https://twitter.com/tf2manu994"><img src="/assets/twitter.svg" alt="Twitter" class="Twitter" height="32" width="32"></a>
    <a href="skype:tf2manu994"><img src="/assets/skype.svg" alt="Skype" class="Skype" height="32" width="32"></a>
    <a href="https://steamcommunity.com/id/tf2manu994"><img src="/assets/steam.svg" alt="Steam" class="Steam" height="32" width="32"></a>
</div>