<footer>    
    <a href="mailto:contact@manmeetgill.com">
        <img src="/assets/envelope-o.svg" alt="Email" height="32" width="32">
    </a>
    <a href="https://github.com/tf2manu994">
        <img src="/assets/github.svg" alt="GitHub" height="32" width="32">
    </a>
    <a href="https://gitlab.com/tf2manu994">
        <img src="/assets/gitlab.svg" alt="GitLab" height="32" width="32">
    </a>
    <a href="https://plus.google.com/+ManuGill994">
        <img src="/assets/google-plus.svg" alt="Google Plus" height="32" width="32">
    </a>
    <a href="https://twitter.com/tf2manu994">
        <img src="/assets/twitter.svg" alt="Twitter" height="32" width="32">
    </a>
    <a href="https://steamcommunity.com/id/tf2manu994">
        <img src="/assets/steam.svg" alt="Steam" height="32" width="32">
    </a>
    <a href="https://news.ycombinator.com/user?id=tf2manu994">
        <img src="/assets/hacker-news.svg" alt="Hacker News" height="32" width="32">
    </a>
    <a href="https://stackoverflow.com/users/5284221/manmeet-gill">
        <img src="/assets/stack-overflow.svg" alt="Stack Overflow" height="32" width="32">
    </a>
    <!--
    <a href="https://bitbucket.org/tf2manu994/">
        <img src="/assets/bitbucket.svg" alt="BitBucket" height="32" width="32">
    </a>
    <a href="https://reddit.com/user/tf2manu994">
        <img src="/assets/reddit.svg" alt="Reddit" height="32" width="32">
    </a>
    <a href="skype:tf2manu994">
        <img src="/assets/skype.svg" alt="Reddit" height="32" width="32">
    </a>
    <a href="https://linkedin.com/id/manmeet-gill">
        <img src="/assets/linked-in.svg" alt="LinkedIn" height="32" width="32">
    </a>
    -->
    <a href="//www.iubenda.com/privacy-policy/7889115" class="iubenda-black iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
</footer>