<!--Start of Rich Cards-->
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Manmeet Gill",
        "givenName": "Manmeet",
        "familyName": "Gill",
        "gender": "Male",
        "alternateName": "Manu",
        "alternateName": "Manu Gill",
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "Australia",
            "addressRegion": "NSW",
            "addressLocality": "Sydney"
        },
        "birthPlace": "India",
        "nationality": "Australia",
        "email": "mailto:contact@manmeetgill.com",
        "url": "https://manmeetgill.com",
        "alternateName": "tf2manu994"
    }
</script>
<!--End of Rich Cards-->