<!--Start of Rich Cards-->
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "MobileApplication",
        "name": "Pokemon Go",
        "applicationCategory": "Game",
        "applicationSubCategory": "Augmented Reality",
        "installUrl": "https://itunes.apple.com/app/pokemon-go/id1094591345",
        "installUrl": "https://play.google.com/store/apps/details?id=com.nianticlabs.pokemongo",
        "operatingSystem": "Android, iOS",
        "creator": "Niantic. Inc",
        "url": "http://www.pokemongo.com/",
        "offers": {
            "@type": "Offer",
            "price": "0",
            "priceCurrency": "USD"
        },
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4",
            "reviewCount": "700000"
        }
    }
</script>
<!--End of Rich Cards-->