<style type="text/css">

.footer {
  position: fixed;
  bottom: 0.7cm;
  width: 100%;
  max-height: 50px;
  color: #fff;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

body {
  background-color: #455A64;
}

.page-content {
  padding-top: 70px;
}

.homeimage {
  color: #fff;
  height: 176px;
  background: url('/assets/welcome_card.jpg') center / cover;
}

.mdl-card {
  justify-content:center;
  align-items:center;
  margin:0 auto;
}

.pgo_resource_text {
  border-bottom: 1px solid #DEDEDE;
  border-bottom: 1px solid rgba(0,0,0,.13);
}

.mdl-card__supporting-text {
  color: rgba(0,9,9,0.87) !important
}

.mdl-button {
text-align:center;
}

@media screen and (max-width: 1024px){
  .page-content {
    padding-top: 64px;
  }
}
</style>