---
redirect_from: "/PokemonGo/PokemonGoStringsFull.html"
redirect_from: "/PokemonGo.html"
redirect_from: "/PokemonGo/old/global-metadata.dat"
redirect_from: "/PokemonGo/old/com.nianticlabs.pokemongo.zip"
redirect_from: "/PokemonGo/old/pokemongo.app.zip"
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill's Pokemon Go Content">
    <title>Pokemon Go</title>
    <script src="/mdl/material.min.js"></script>
    <link rel="stylesheet" href="/mdl/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% include style.html %}
    {% include header-favicons.html %}
</head>

<body>
    {% include tag-manager.html %}
    {% include navigation.html %}
    <main class="mdl-layout__content mdl-grid page-content">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--middle mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Pokemon Go Content</h2>
            </div>
            <div>
                <a href="https://github.com/tf2manu994/tf2manu994.github.io/releases/download/v0.1/pokemongo.app.zip">
                    <h4>Extracted IPA</h4>
                </a>
                <div class="pgo_resource_text">
                    <h5>The iOS app at launch, extracted (not decompiled)</h5>
                </div>
            </div>
            <div>
                <a href="https://github.com/tf2manu994/tf2manu994.github.io/releases/download/v0.1/com.nianticlabs.pokemongo.zip">
                    <h4>Launch APK</h4>
                </a>
                <div class="pgo_resource_text">
                    <h5>The APK at launch, decompiled using JadX</h5>
                </div>
            </div>
            <div>
                <a href="old/PokemonGoStrings.html">
                    <h4>Launch Pokemon Go Strings</h4>
                </a>
                <div class="pgo_resource_text">
                    <h5>A hex dump of the strings in the game at launch, in HTML</h5>
                </div>
            </div>
            <div>
                <a href="PokemonGoStrings.html">
                    <h4>Current Pokemon Go Strings</h4>
                </a>
                <div class="pgo_resource_text">
                    <h5>A hex dump of the strings currently in the game, in HTML</h5>
                </div>
            </div>
            <div>
                <a href="https://github.com/tf2manu994/tf2manu994.github.io/releases/download/v0.1/global-metadata.dat">
                    <h4>Launch Raw Metadata</h4>
                </a>
                <div class="pgo_resource_text">
                    <h5>Raw version of the Pokemon Go Strings at launch</h5>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </main>
    {% include rich-card-manmeet.html %}
    {% include rich-card-pokemongo.html %}
</body>

</html>