---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Manmeet Gill">
    <meta name="description" content="Manmeet Gill's blog.">
    <link rel="canonical" href="https://manmeetgill.com/blog">
    <link rel="amphtml" href="https://manmeetgill.com/amp/blog">
    <title>Manmeet Gill</title>
    {% include css-dependencies.html %}
    {% include style.html %}
    {% include header-favicons.html %}
</head>

<body>
    {% include tag-manager.html %}
    <div class="container">
    {% include navigation.html %}
    {% for post in site.posts %}
        {% assign mod = forloop.index | modulo: 2 %}
            {% if mod == 0 %}
            {% else %}
            <section class="section">
                <div class="container">
                        <div class="heading">
                            <h3 class="title is-3"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        </div>
                    <p>{{ post.excerpt }}</p>
                </div>
            </section>
            {% endif %}
    {% endfor %}
    </div>
    {% include footer.html %}
    {% include rich-card-manmeet.html %}
</body>