---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Hannah Ivy">
    <meta name="description" content="{{ page.description }}">
    <link rel="canonical" href="{{ site.url }}/blog/{{ page.linkcanon }}">
    <link rel="amphtml" href="{{ site.url }}/amp/{{ page.linkcanon }}">
    <title>{{ page.title }}</title>
    {% include css-dependencies.html %}
    {% include style.html %}
    {% include header-favicons.html %}
    {% if page.hasCode == true %}
    {% include syntax.html %}
    {% endif %}
</head>

<body>
    {% include tag-manager.html %}
    <div class="container">
    {% include navigation.html %}
    <section class="section">
            <div class="container content">
                <div class="heading">
                    <h3 class="title is-3">{{ page.inlineTitle }}</h3>
                </div>
                <content>
                    {{ content }}
                </content>
            </div>
    </section>
    </div>
    {% include footer.html %}
    {% include rich-card-hannah.html %}
</body>

</html>