---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Hannah Ivy">
    <meta name="description" content="Hannah Ivy's projects.">
    <link rel="canonical" href="https://hannahi.com/projects">
    <title>Hannah Ivy</title>
    {% include css-dependencies.html %}
    {% include style.html %}
    {% include header-favicons.html %}
</head>

<body>
    {% include tag-manager.html %}
    <div class="container">
    {% include navigation.html %}
        <section class="section">
            <div class="container">
                <div class="heading">
                    <h3 class="title is-3">PyHDDKeepAlive</a></h3>
                </div>
                <p>PyHDDKeepAlive is an application made by Hannah Ivy that keeps your hard drive from spinning down.<br>
                This can be useful for external drives that you leave plugged in, as spinning down decreases their lifespan.
                </p>
            </div>
            <a class="button is-primary is-focused" href="https://github.com/haboutnnah/PyHDDKeepAlive/">Source Code (recommended)</a>
            <a class="button" href="https://github.com/haboutnnah/PyHDDKeepAlive/releases/download/v0.1/PyHDDKeepAlive.py">Download</a>
        </section>
    </div>
    {% include footer.html %}
    {% include rich-card-hannah.html %}
</body>